<style type="text/css">
  @font-face {
    font-family: 'LineIcons';
    src:  url('{{-'LineIcons.eot' | asset_url }}?y2l643');
    src:  url('{{-'LineIcons.eot' | asset_url }}?y2l643#iefix') format('embedded-opentype'),
      url('{{-'LineIcons.ttf' | asset_url }}?y2l643') format('truetype'),
      url('{{-'LineIcons.woff' | asset_url }}?y2l643') format('woff'),
      url('../assets/LineIcons.svg?v=2121879188?y2l643#LineIcons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
</style>{{"lh-5eb0b0bccc2b38014e00a2a2.css" | asset_url | stylesheet_tag }}<script type="text/javascript">
  window.LHPAGE=window.LHPAGE||{};window.LHPAGE.id='5eb0b0bccc2b38014e00a2a2';window.LHPAGE.title='Team+Store';window.LHPAGE.type='page'
</script>
<div class="lh-sections-wrapper" data-id="5eb0b0bccc2b38014e00a2a2" data-type="page">
  <section id="" data-section-id="LeI9jvOtNa" data-section="hero-2" data-layouthub="section">
    <div class="lh-hero-block">
      <div class="lh-background"  data-lhi="hr_image"><img src="https://cdn.shopify.com/s/files/1/0252/6150/6665/t/56/assets/teamstoretexts3.png?v=1604606331169" alt="Call to action" class="hub-img" /></div>
      <div class="lh-content">
        <div class="lh-container">
          <div class="lh-row">
            <div class="lh-col-md-6">
              <div class="lh-hero-content">
                <h3  data-lhi="hr_title">A simplified apparel solution. Save time & fundraise more!</h3>
                <div class="lh-bottom">
                  <span class="lh-price-block"  data-lhi="hr_price">STARTING AT $29.99</span>
                  <div class="lh-button-buynow"  data-lhi="cta" data-lhi-child="a"><a href="https://midwaysports.com/a/locker" data-ga-action="tracking" data-ga-label="Button" data-lhlink>BUILD YOUR STORE</a></div>
                  <p  data-lhi="hr_des" data-lh-live-editor></p>
                </div>
              </div>
            </div>
            <div class="lh-col-md-6">
            </div>
          </div>
        </div>
      </div>
      <div class="lh-overlay"></div>
    </div>
  </section>
  <section id="" data-section-id="DM6rQXqmFz" data-section="services-1111" data-layouthub="section">
    <div class="lh-services">
      <div class="lh-container">
        <div class="lh-heading">
          <h3  data-lhi="sv_heading">Find your store</h3>
        </div>
        <div class="xs-store-find xs-store-front"  >
          <div class="jumbotron jumbotron-fluid">
            <div class="input-group input-group-lg mt-3 mb-3">
              <input type="text" class="form-control" placeholder="Enter your team name" data-search-store-input>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="xs-search-stores">Search</button>
              </div>
            </div>
          </div>
          <div class="page-width">
            <div class="list-group" id="xs_results">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="" data-section-id="DM6rQXqmFz" data-section="services-10" data-layouthub="section">
    <div class="lh-services">
      <div class="lh-container">
        <div class="lh-heading">
          <h3  data-lhi="sv_heading">How it works</h3>
        </div>
        <div class="lh-row">
          <div class="lh-col-md-3">
            <div class="lh-block">
              <div class="lh-icon">
                <i class="lni lni-check-box"></i>
              </div>
              <p  data-lhi="services[0]sv_title" data-lhis="services-sv_title">SELECT PRODUCTS</p>
              <span  data-lhi="services[0]sv_des" data-lh-live-editor data-lhis="services-sv_des">Choose from Nike, Jordan, Under Armour, New Balance, Mizuno and many more.</span>
            </div>
          </div>
          <div class="lh-col-md-3">
            <div class="lh-block">
              <div class="lh-icon">
                <i class="lni lni-upload"></i>
              </div>
              <p  data-lhi="services[1]sv_title" data-lhis="services-sv_title">UPLOAD LOGO</p>
              <span  data-lhi="services[1]sv_des" data-lh-live-editor data-lhis="services-sv_des">Upload your logo or have one of our graphic designers create a FREE one for you.</span>
            </div>
          </div>
          <div class="lh-col-md-3">
            <div class="lh-block">
              <div class="lh-icon">
                <i class="lni lni-money-protection"></i>
              </div>
              <p  data-lhi="services[2]sv_title" data-lhis="services-sv_title">FUNDRAISE AMOUNT</p>
              <span  data-lhi="services[2]sv_des" data-lh-live-editor data-lhis="services-sv_des">Choose how much you want to fundraise for your team. You can fundraise up to 50%!</span>
            </div>
          </div>
          <div class="lh-col-md-3">
            <div class="lh-block">
              <div class="lh-icon">
                <i class="lni lni-laptop-phone"></i>
              </div>
              <p  data-lhi="services[3]sv_title" data-lhis="services-sv_title">SHARE STORE</p>
              <span  data-lhi="services[3]sv_des" data-lh-live-editor data-lhis="services-sv_des">When you finish, share the link of your store on social media, text and email. You're ready to go!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="" data-section-id="EumY3rL6A8" data-section="features-2" data-layouthub="section">
    <div class="lh-block">
      <div class="lh-container">
        <div class="lh-group-item">
          <div class="lh-item">
            <div class="lh-row lh-style-1">
              <div class="lh-col-md-6 lh-order_1">
                <div class="lh-banner"  data-lhi="collection_items[0]cl_image" data-lhis="collection_items-cl_image"><img src="https://cdn.shopify.com/s/files/1/0252/6150/6665/t/56/assets/p9-mens-bb.jpg?v=160460143779" alt="Call to action" class="hub-img" /></div>
              </div>
              <div class="lh-col-md-6 lh-order_2">
                <div class="lh-content">
                  <h4 class="lh-title"  data-lhi="collection_items[0]cl_title" data-lhis="collection_items-cl_title">TOP BRANDS</h4>
                  <p class="lh-des"  data-lhi="collection_items[0]cl_des" data-lh-live-editor data-lhis="collection_items-cl_des">Your team works hard and demands the best. Which is why we offer the industries best name brand products tested by the toughest critics, real athletes. Whether you are selecting gear and apparel for a youth recreational team or an elite travel roster, Midway Sports has the right balance of price and performance for every level of play.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="lh-item">
            <div class="lh-row lh-style-2">
              <div class="lh-col-md-6 lh-order_1">
                <div class="lh-banner"  data-lhi="collection_items[1]cl_image" data-lhis="collection_items-cl_image"><img src="https://cdn.shopify.com/s/files/1/0252/6150/6665/t/56/assets/mens-football-p13.png?v=1604601385117" alt="Call to action" class="hub-img" /></div>
              </div>
              <div class="lh-col-md-6 lh-order_2">
                <div class="lh-content">
                  <h4 class="lh-title"  data-lhi="collection_items[1]cl_title" data-lhis="collection_items-cl_title">ACCURACY</h4>
                  <p class="lh-des"  data-lhi="collection_items[1]cl_des" data-lh-live-editor data-lhis="collection_items-cl_des">Midway Sports controls every aspect of your individual order. We use multiple check points in our process to make sure every item we produce is manufactured to the highest quality control standards. We inspect each item when it arrives from our vendors, carefully review your logo and art requirements in our digital studio, use the industries finest decoration methods and include one final inspection before your order is packaged and shipped out. This multi-step process allows us to stand behind every order with a no questions asked return policy, we are that confident we can make you satisfied.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="" data-section-id="l14ilbnbeqf" data-section="how-it-work-2" data-dev="anh-tu" data-lh-page-id="986" data-lh-page-name="Moo - Landing" data-layouthub="section">
    <div class="lh-section-block">
      <div class="lh-container">
        <div class="lh-heading">
          <h3  data-lhi="hw_heading" data-lh-lang>TOP QUALITY PRINTING</h3>
          <p  data-lhi="hw_des" data-lh-lang data-lh-live-editor>We use the best materials and machines on the market.</p>
        </div>
        <div class="lh-row">
          <div class="lh-col-md-4">
            <div class="lh-block-item">
              <div class="lh-item__image">
                <text  data-lhi="group_item[0]hw_image" data-lhis="group_item-hw_image"><img src="https://cdn.shopify.com/s/files/1/0252/6150/6665/t/56/assets/2.gif?v=160460799629" alt="Image" class="hub-img" /></text>
                <div class="lh-item__count">
                  <h4>01</h4>
                </div>
              </div>
              <p  data-lhi="group_item[0]hw_des" data-lh-lang data-lh-live-editor data-lhis="group_item-hw_des">Our high quality print material allows the logos to stretch without cracking.</p>
            </div>
          </div>
          <div class="lh-col-md-4">
            <div class="lh-block-item">
              <div class="lh-item__image">
                <text  data-lhi="group_item[1]hw_image" data-lhis="group_item-hw_image"><img src="https://cdn.shopify.com/s/files/1/0252/6150/6665/t/56/assets/1.jpg?v=160460797167" alt="Image" class="hub-img" /></text>
                <div class="lh-item__count">
                  <h4>02</h4>
                </div>
              </div>
              <p  data-lhi="group_item[1]hw_des" data-lh-lang data-lh-live-editor data-lhis="group_item-hw_des">We use top quality inks &amp; a world class print material to create vibrant logos you will love.</p>
            </div>
          </div>
          <div class="lh-col-md-4">
            <div class="lh-block-item">
              <div class="lh-item__image">
                <text  data-lhi="group_item[2]hw_image" data-lhis="group_item-hw_image"><img src="https://cdn.shopify.com/s/files/1/0252/6150/6665/t/56/assets/3.gif?v=1604608007611" alt="Image" class="hub-img" /></text>
                <div class="lh-item__count">
                  <h4>03</h4>
                </div>
              </div>
              <p  data-lhi="group_item[2]hw_des" data-lh-lang data-lh-live-editor data-lhis="group_item-hw_des">Our prints are so soft you can feel the threads through the logo.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="" data-section-id="I2bUXcAzds" data-section="call-to-action-7" data-layouthub="section">
    <div class="lh-block">
      <div class="lh-container">
        <div class="lh-content">
          <p  data-lhi="cta_title">SAVE TIME &amp; RAISE MONEY...WHAT ARE YOU WAITING FOR?
            <div></div>
          </p>
          <text  data-lhi="cta_button" data-lhi-child="a"><a href="https://midwaysports.com/a/locker" data-ga-action="tracking" data-ga-label="Button" data-lhlink>GET STARTED</a></text>
        </div>
      </div>
    </div>
  </section>
  <section id="" data-section-id="t1q55gwy1rd" data-section="impressive-numbers" data-dev="hongyen" data-lh-page-id="1005" data-lh-page-name="Landing - Asi" data-layouthub="section">
    <div class="lh-numbers">
      <div class="lh-container">
        <div class="lh-row">
          <div class="lh-col-md-12">
            <h3 class="lh-title"  data-lhi="title" data-lh-lang>Our Numbers</h3>
            <p class="lh-desc"  data-lhi="desc" data-lh-lang>See why so many people choose Midway Sports</p>
          </div>
          <div class="lh-col-md-6 lh-cus-pd">
            <div class="lh-item">
              <p class="lh-icon"><i class="lni lni-invest-monitor" data-hub-attr-state="class%3D%22%22"   data-hub-attr-list_item_0_font_icon="list_item[0]font_icon" data-lhis="list_item-font_icon" ></i> </p>
              <p class="lh-num"  data-lhi="list_item[0]txt_num" data-lh-lang data-lhis="list_item-txt_num">$50,000+</p>
              <p class="lh-text"  data-lhi="list_item[0]txt_item" data-lh-lang data-lhis="list_item-txt_item">in funds raised</p>
            </div>
          </div>
          <div class="lh-col-md-6 lh-cus-pd">
            <div class="lh-item">
              <p class="lh-icon"><i class="lni lni-users" data-hub-attr-state="class%3D%22%22"   data-hub-attr-list_item_1_font_icon="list_item[1]font_icon" data-lhis="list_item-font_icon" ></i> </p>
              <p class="lh-num"  data-lhi="list_item[1]txt_num" data-lh-lang data-lhis="list_item-txt_num">10,000+</p>
              <p class="lh-text"  data-lhi="list_item[1]txt_item" data-lh-lang data-lhis="list_item-txt_item">teams have chosen Midway Sports</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="{{"lh-5eb0b0bccc2b38014e00a2a2.js" | asset_url  }}"  defer="defer"></script><!--/LayoutHub-Embed-->
<style>
  .xs-store-find input.form-control {
      min-width: 400px;
      padding: 5px 10px;
      border-radius: 2px 0px 0px 2px;
      margin-right: -1px;
  }
  
  
  div#xs_results  input.form-control {
    min-width: 400px;
    padding: 5px 10px;
    border-radius: 2px 0px 0px 2px;
    margin-right: -1px;
  }
  
  div#xs_results {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 25px;
  }
  
  div#xs_results a {
    padding: 10px 15px;
    background: #eee;
    border-bottom: 1px solid #fff;
    margin-top: 0px;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    font-family: "Georgia" !important;
    color: #636363;
  }
  div#xs_results a img {height: 33px;margin-right: 11px;width: 100px;object-fit: contain;}
</style>
