<div class="card">
  <div class="card-body">
    Only do this when any new product added in the admin doesn't appear in the app after 5 / 10 minutes. 
    <button class="btn btn-info" data-refresh-products>Refresh Product Database</button>
  </div>
</div>
