<header class="xs-header">
  <div class="xs-header-inner">
    <ul>
      <li  class="xs-dropdown-container">
        <a href=""  class="xs-has-dropdown">Menu</a>
        <ul class="xs-dropdown  xs-dropdown-left">
          <li><a href="javascript:void(0);" data-xs-stores>Your Stores</a></li>
          <li><a href="<%= store_create_path %>">Create a Store</a></li>
          <li><a href="">Settings</a></li>
          <li><a href="" data-xs-log-out>Log out</a></li>
        </ul>
      </li>
      <li class="xs-dropdown-container">
        <a href=""  class="xs-has-dropdown">Account</a>
        <ul class="xs-dropdown xs-dropdown-right">
          <li><a href="javascript:void(0);" data-xs-stores>Dashboard</a></li>
          <li><a href="">Settings</a></li>
          <li><a href="">Log out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
