<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <div class="app-wrapper">
      <div class="app-content">
        <main role="main">
          <div class="container-fluid">
          </div>
        </main>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
